/* Theme */
:root {
  --mdc-theme-primary: #4ab3f4;
  --mdc-theme-primary-light: #86e5ff;
  --mdc-theme-primary-dark: #0084c1;
  --mdc-theme-secondary: #ff4081;
  --mdc-theme-secondary-light: #ff87b0;
  --mdc-theme-secondary-dark: #f80054;
}
/* Buttons */
.twitter-btn {
  background-color: #4ab3f4;
  border-color: transparent;

  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.twitter-btn:hover {
  background-color: #1da1f2;
  /* border-color: #1da1f2; */
}

.twitter-btn:active {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #4ab3f4;
}

.twitter-btn:focus {
  outline: none;
}

/* Text */
* {
  font-family: "Segoe UI", Arial, sans-serif;
}

.twitter-text {
  color: white;
  font-size: 15px;
}

a {
  color: #1b95e0;
  text-decoration: none;
}

a:hover {
  text-decoration-color: #1b95e0;
  text-decoration: underline;
}

/*Image*/
.mdc-car__avatar {
  border-radius: 25px;
  margin-right: 25px;
}

/* Textfield */
.mdc-textfield {
  margin: 5px auto;
  max-width: 800px;
}

.mdc-textfield__input {
  margin: 5px auto;
  max-width: 800px;
}

/*Tweets*/
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  flex-grow: 0;
  flex-basis: 0;
}

.horizontal {
  flex-flow: row wrap;
  justify-content: space-around;
}

.keyword-container {
  margin: 5px auto;
  max-width: 500px;
}

.keyword {
  margin: 5px;
}

.highlighted {
  background: var(--mdc-theme-primary);
}

.mdc-card--tweet {
  margin: 5px auto;
  max-width: 800px;
}

/*Chart*/
.chart-container {
  width: 40%;
  position: relative;
  user-select: none;
}

@media (max-width: 750px) {
  .chart-container {
    width: 100%;
  }
}
